/StarEngine/Debug
/StarEngine/x64
StarEngine/.vs
StarEngine/.vs
StarEngine/StarEngine/x64
StarEngine/StarEngine/ThirdParty/boost_1_72_0
StarEngine/StarEngine/LibZip/boost_1_72_0.zip
StarEngine/StarEngine/StarRefCode
StarEngine/StarEngine/RefCodeData